<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>RecyCraft</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css">
  
  <link rel="stylesheet" href="static/style.css">
  <style>
    html {
      scroll-behavior: smooth;
    }
  </style>
<link rel="icon"
type="image/ico"
href="static/favicon.png">
<style>
  body {
    background-image: url('static/images/bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
  }
  </style>

	

</head>

<body>

  <main class='mainbody'>
    <Center>
      <div id="headpic">
      <img src="{{ url_for('static', filename='images/geeta.png') }}" alt="Image Preview" id="geeta" height="250px">
      </div>
    </Center>
    
    <div id="greet">
      <Center>
        <span id="line1Greet">
          RecyCraft <span id="gpt">Assistant</span>
          <img src="{{ url_for('static', filename='images/peacock-feather.png') }}" alt="Image Preview" id="feather" height="65px">
        </span>
        <p id="line2Greet">Ask How to Recycle waste or type keywords of item you want to Recycle, Assistant will help to Recycle it..</p>
        </Center>
    </div>
    <br>
    <br>
    <br>

    <div class="content">
      <form method="post" onsubmit="submit.disabled=true" id="myForm">
        <br>
	<center>
    <div>
      <div>
        <span id="inputs"></span>
        <textarea id="userQuery" name="question" placeholder="Type Keywords... like 'Plastic Bottle'" rows = '2' ></textarea>
      </div>
      <div>
        <input type="submit" value="Ask Assistant" id='submit' class="bubbly-button">
      </div>
  </div>
</center>

<center>
<a href="http://127.0.0.1:5000"><button id="clickBtn"><img src="static/images/lens.png" style="height: 50px;width: 50px;" class="btn1"></button></a>
</center>
<center>
  <span style="color: aliceblue;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Object Recognition</span>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</center>

	<br>
        <center>
        <a href="https://marketplace.syntaxloopers.is-a.dev/"><img src="{{ url_for('static', filename='images/mp.png') }}" alt="Marketplace" style="width: 80px; height: 80px" class="btn1"></a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          
        <a href="http://127.0.0.1:6001"><img src="{{ url_for('static', filename='images/sellv.png') }}" alt="Vendor" style="width: 80px; height: 80px" class="btn1"></a>
          
        </center>

        <center>
        <span style="color: aliceblue;">Marketplace</span>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span style="color: aliceblue;">Vendor</span>
        </center>
        
      </form>
    </div>

    
    <br>
    <div id="loading">
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="dia">   
      {% if question %}
      <div class="result">
        <div class="question">
          <img src="https://cdn.iconscout.com/icon/free/png-256/user-1648810-1401302.png" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
          <b id='mainres'>You:</b>
          <pre>{{ question }}</pre>
        </div>
        <hr>
        <div class="response">
          <img src="{{ url_for('static', filename='images/geeta.png') }}" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
          <b id='mainres'>Assistant:</b>
          <pre>{{ res }}</pre>
        </div>
      </div>
      {% else %}
      
      <br><br>
      <div>
        <b id='starting'>Disclaimer:</b><br> This Assistant is an AI tool, a large language model, hence any response generated by Waste Recycle Assistant  is not guaranteed to be 100% true factually.
        <br>
        <br>
        <b id='starting'>Note:</b><br> The Developer of this website are in no way responsible for the responses being generated by the AI.
      </div>
      {% endif %}
  </div>
  
  
  
  
</main>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.7.8/lottie.min.js"></script>

<script src="static/script.js"></script>

<br>
<br>

<div id="foot">
  
  <center>
    <img src="{{ url_for('static', filename='images/dev.png') }}" alt="Image Preview" id="dev" height="40px">

    Developed by <a ><b id="subh">Team codeARC</b></a>
    <br>
    <div id="social">
      <a href="https://teamcodearc.is-a.dev">About</a> | <a href="https://github.com/TeamcodeARC">GitHub</a>
    </div>
    <br>
    <img src="{{ url_for('static', filename='images/peacock-feather.png') }}" alt="Image Preview" id="feather" height="65px">
  </center>

  
</div>

</body>

</html>
